<!DOCTYPE html>
<html>
  <head>
    <title>Null Fitness</title>
    <link rel='stylesheet' href='css/bootstrap.css' />
    <link rel='stylesheet' href='css/style.css' />
    <link rel='stylesheet' href='css/lp_style.css' />

  </head>
  <body>
    <header>
     <!-- Fixed navbar -->
     <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
          <img src="/images/logo.png" width="60" height="25" class="d-inline-block align-top" alt="">
          Null Fitness
        </a>
          <form class="form-inline mt-2 mt-md-0 ml-auto">
            <a class="btn btn-primary" href="/logout" role="button">Logout</a>
          </form>
      </nav>
    </header>

    <!-- Main Page Display -->
    <main role="main" class="container">
      <div>
      <h1 class="mt-5 text-white">Admin Dashboard</h1>
      <p class="lead"></p>
      </div>
    </main>
  </body>
</html>
  <a class="btn btn-primary btn-block disabled" href="/createNewWorkout" role="button">Add Workout</a>
    <a class="btn btn-warning btn-block" href="/elevatetoadmin" role="button">Create new Administrator</a>
